body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: larger;
    margin-top: 0px;
}
.back{
    background-color: red ;
    border-radius: 10px;
    width: 80px;
    float: right;
}